Repository openstack/ironic-inspector: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

ironic-inspector-grenade-dsvm:
  branches: ^(?!stable/newton).*$

Refactoring the firewall
  CONTRIBUTING.rst
  doc/source/install/index.rst
  doc/source/user/usage.rst
  doc/source/user/workflow.rst
  example.conf
  ironic_inspector/conf.py
  ironic_inspector/firewall.py
  ironic_inspector/introspect.py
  ironic_inspector/process.py
  ironic_inspector/pxe_filter/iptables.py
  ironic_inspector/test/functional.py
  ironic_inspector/test/unit/test_firewall.py
  ironic_inspector/test/unit/test_introspect.py
  ironic_inspector/test/unit/test_iptables.py
  ironic_inspector/test/unit/test_process.py
  ironic_inspector/test/unit/test_pxe_filter.py
  ironic_inspector/test/unit/test_wsgi_service.py
  ironic_inspector/wsgi_service.py
  releasenotes/notes/firewall-refactoring-17e8ad764f2cde8d.yaml
  setup.cfg
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Support manage_firewall during deprecation period
  ironic_inspector/pxe_filter/base.py
  ironic_inspector/test/unit/test_pxe_filter.py
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Updated from global requirements
  requirements.txt
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3

refer to 'openstack baremetal' CLI in docs
  doc/source/user/usage.rst
  doc/source/user/workflow.rst
Due: none

Clean up release notes before a release
  releasenotes/notes/allow-periodics-shutdown-inspector-ac28ea5ba3224279.yaml
  releasenotes/notes/firewall-refactoring-17e8ad764f2cde8d.yaml
  releasenotes/notes/policy-engine-c44828e3131e6c62.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3

Unittest node_info is added with a version_id
  ironic_inspector/test/unit/test_node_cache.py
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3

Zuul: add file extension to playbook path
  zuul.d/legacy-ironic-inspector-jobs.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Move processing of local_gb to root_disk_selection hook
  ironic_inspector/plugins/standard.py
  ironic_inspector/test/functional.py
  ironic_inspector/test/unit/test_plugins_standard.py
  releasenotes/notes/local_gb-250bd415684a7855.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Output coverage report in the way recognized by the CI
  tox.ini
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3

Add zuul3 jobs in-tree
  playbooks/legacy/ironic-inspector-grenade-dsvm/post.yaml
  playbooks/legacy/ironic-inspector-grenade-dsvm/run.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/post.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
  playbooks/legacy/ironic-inspector-tox-func/post.yaml
  playbooks/legacy/ironic-inspector-tox-func/run.yaml
  playbooks/legacy/ironic-inspector-tox-func3/post.yaml
  playbooks/legacy/ironic-inspector-tox-func3/run.yaml
  zuul.d/legacy-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Add zuul3 jobs in-tree
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/post.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
  playbooks/legacy/ironic-inspector-tox-func/post.yaml
  playbooks/legacy/ironic-inspector-tox-func/run.yaml
  playbooks/legacy/ironic-inspector-tox-func3/post.yaml
  playbooks/legacy/ironic-inspector-tox-func3/run.yaml
  zuul.d/legacy-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Imported Translations from Zanata
  ironic_inspector/locale/en_GB/LC_MESSAGES/ironic_inspector.po
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

zuul: Clean up zuul files
  zuul.d/legacy-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Remove setting of version/release from releasenotes
  releasenotes/source/conf.py
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3

Introducing a dnsmasq PXE filter driver
  doc/source/admin/dnsmasq-pxe-filter.rst
  doc/source/admin/index.rst
  doc/source/install/index.rst
  example.conf
  ironic_inspector/conf.py
  ironic_inspector/pxe_filter/dnsmasq.py
  ironic_inspector/test/unit/test_dnsmasq_pxe_filter.py
  releasenotes/notes/dnsmasq-pxe-filter-37928d3fdb1e8ec3.yaml
  setup.cfg
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Add py35 gate for ironic-inspector
  devstack/plugin.sh
  ironic_inspector/pxe_filter/iptables.py
  ironic_inspector/test/inspector_tempest_plugin/tests/test_basic.py
  ironic_inspector/test/inspector_tempest_plugin/tests/test_discovery.py
  playbooks/legacy/ironic-inspector-tempest-dsvm-python3/post.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-python3/run.yaml
  zuul.d/legacy-ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Allow concurrect updating of dnsmasq configuration
  example.conf
  ironic_inspector/conf.py
  ironic_inspector/pxe_filter/dnsmasq.py
  ironic_inspector/test/unit/test_dnsmasq_pxe_filter.py
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Dnsmasq filter docs follow-up
  doc/source/admin/dnsmasq-pxe-filter.rst
Due: none

Imported Translations from Zanata
  ironic_inspector/locale/en_GB/LC_MESSAGES/ironic_inspector.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

fix dvsm config deprecations
  devstack/plugin.sh
  devstack/upgrade/shutdown.sh
  devstack/upgrade/upgrade.sh
  playbooks/legacy/ironic-inspector-grenade-dsvm/run.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-python3/run.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Make discovery use dnsmasq dhcp filter
  devstack/plugin.sh
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

devstack: set [service_available]ironic-inspector = True
  devstack/plugin.sh
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Use the tempest plugin from openstack/ironic-tempest-plugin
  playbooks/legacy/ironic-inspector-grenade-dsvm/run.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-python3/run.yaml
  zuul.d/legacy-ironic-inspector-jobs.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Update version of flake8-import-order package
  ironic_inspector/dbsync.py
  ironic_inspector/migrations/versions/882b2d84cb1b_attribute_constraints_relaxing.py
  ironic_inspector/migrations/versions/d588418040d_add_rules.py
  ironic_inspector/test/functional.py
  ironic_inspector/test/inspector_tempest_plugin/tests/test_discovery.py
  ironic_inspector/test/unit/test_keystone.py
  ironic_inspector/test/unit/test_plugins_capabilities.py
  ironic_inspector/test/unit/test_plugins_local_link_connection.py
  ironic_inspector/test/unit/test_plugins_standard.py
  ironic_inspector/test/unit/test_pxe_filter.py
  test-requirements.txt
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Use the tempest plugin from openstack/ironic-tempest-plugin
  playbooks/legacy/ironic-inspector-grenade-dsvm/run.yaml
  playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
  zuul.d/legacy-ironic-inspector-jobs.yaml
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

[Devstack]: pick correct MTU for br-inspector veth
  devstack/plugin.sh
Due: ironic-inspector-tox-func, ironic-inspector-tox-func3, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-tempest-dsvm-ironic-inspector

Path conditions:
  ironic-inspector-tox-func: unless all of: ^.*\.rst$, ^doc/.*$
  ironic-inspector-tox-func3: unless all of: ^.*\.rst$, ^doc/.*$
  ironic-inspector-grenade-dsvm: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-discovery: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-tempest-dsvm-ironic-inspector: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
